body{
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: indigo;
    overflow: hidden;
    border: 2px solid;
    margin: 0 0 0 0;
    border-color: indigo;
    color: white;
}
  
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: indigo;
}

.navbar li {
    float: right;
}
  
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navbar li a:hover {
    background-color: indigo;
    color: white;
}


#specific-li{
    position: absolute;
    left: 8%;
    text-align: left;
    transform: translate(-50%, 0);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

  